.juice-card {
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 1.5rem 1rem 0;
    .juice-like { 
        align-self: flex-end;   
        padding: 1rem;
        border-color: #454545;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0.7rem 0;
        box-shadow: $shadow;
        i{
            font-size: 20px;
            color: $color-text;
            &:hover {
                color: red;
            }
        }
        .corazon-rojo {
            color: red;
        }
    }
    img {
        width: 40%;
    }
    h3 {
        text-align: center;
        color: $color-text;
        font-size: 1rem;
        padding: 1rem 0;
    }
    .juice-price {
        span {
            font-weight: bold;
            padding: 0.5rem 1rem;
            
        }
    }
    .juice-add {
        margin-top: 1rem;
        .btn-qty {
            padding: .2rem;
        }
        .btn-agregar {
            background-color: #F1C40F;
            padding: 0.5rem 1rem;
            border-radius: 25px;
            margin-left: 1rem;
            border: none;
            font-weight: 600;
        }  
    }
}



